body {
    background-color: rgb(179, 196, 245);
    overflow-x: hidden;
}

h1 {
    text-align: center;
    color: #f9f9f9;
    border-radius: 15px;
    margin: 20px auto;
    width: 50vw;
    background-color: #6900d8;
}

input {
    width: 50px;
    border-radius: 7px;
    background-color: aliceblue;
}

p {
    font-style: italic;
    font-size: 1rem;
    color: rgb(54, 5, 215);
    text-align: center;
}

button {
    display: block;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 20%;
    margin: 20px auto;
}

form {
    margin-top: 40px;
}

th,
td {
    padding: 4px;
    text-align: center;
    border: 1px solid #dddddd;
}

th {
    color: #dedede;
    background-color: #646efe;
}

td {
    background-color: #a3b1e7;
}

#inputContainer,
#coordinateForm {
    width: 220px;
    margin: 0 auto;
}

.inputDiv {
    float: none;
    margin-bottom: 10px;
}

.possibleCenter {
    background-color: rgba(0, 145, 0, 0.667);
    color: #ddd;
}

button {
    background-color: rgb(255, 86, 86);
}

#submitButton,
#addButton {
    background-color: #818af2;
    color: #ffffff;
    padding: 5px 5px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

#findings {
    text-align: center;
}

.findingsInfoDiv,
.givenInfoDiv {
    text-align: center;
    font-size: 1vmax;
    max-height: 10vh;
    overflow-y: scroll;
}

/* Style the scrollbar */
.findingsInfoDiv::-webkit-scrollbar,
.givenInfoDiv::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

/* Handle */
.findingsInfoDiv::-webkit-scrollbar-thumb,
.givenInfoDiv::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color of the scrollbar handle */
    border-radius: 6px;
    /* Rounded corners of the scrollbar handle */
}

/* Handle on hover */
.findingsInfoDiv::-webkit-scrollbar-thumb:hover,
.givenInfoDiv::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color of the scrollbar handle on hover */
}